{% extends "base.html" %}
{% load static %}

{% block content %}

<p>Este site foi desenvolvido Por 
<p>ADEMIR ROCHA FERREIRA</p>
<p>ANGELICA OLIVEIRA NUNES</p>
<p>CRISTINA GONÇALVES FERNANDES</p>
<p>JOSILANE BORGES NUNES</p>
<p>ROSEMARY RAMOS PEREIRA</p>

, para realizar <b>PROJETO FINAL - MINERAÇÃO DE DADOS
</b> do curso de bacharel em sistemas de informação do IFNMG Campus Arinos com o professor Marcelino Gonçalves de Macedo, Para analisar a base de dados disponível em: <a href="https://archive.ics.uci.edu/ml/datasets/Early+stage+diabetes+risk+prediction+dataset.">https://archive.ics.uci.edu/ml/datasets/Early+stage+diabetes+risk+prediction+dataset.</a> para verificar a chances que um pacientes que possui certas características possa aquirir uma diabete</p>
<hr>
<h4>Quantidade de linhas X colunas da base de dados</h4>
{{ df.shape }}

<hr>

<h4>Gráfico exibindo a quantidade de casos com diabetes positivos e negativos</h4>

<img src="../static/img/image1.jpg" />
<hr>

<h4>Amostra dos 5 primeiros registros da base de dados</h4>



<div id="div1">{{ grf1 }}</div>

<hr>

<h4>Verificando se há valores nulos na base de dados</h4>

{{dfNull}}


<hr>

<h4>Amostragem de correlação gráfica</h4>
<p>A figura irá exibir a correlação entre os atributos, \nquanto mais escuro a cor, maior será a relação entre esses atributos.</p>

<img style="width:80%;" src="../static/img/image2.jpg" />

{% endblock %}
